*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

.header {
    background-color: #F23535;
    color: yellow;
    font-family: 'Russo One', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    padding: 20px 0px;
    width: 100%;
    position: fixed;
    top: 0;
}

.container {
    width: 96%;
    height: auto;
    margin: 25px;
    font-size: 20px;
    line-height: 25px;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    text-align: center;
}

/*
#26A3BF
#7ABF9F
#F2CB05
#F27507
#F23535
*/
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.container > div{/*modifica los div dentro del contenedor*/
    padding: 30px;
    color: black;
    background: #26A3BF;
    box-shadow: 2px 2px 10px rgba(0,0,0,.40);
}

.footer {
    background-color:none;
    text-align: center;
    font-size: 15px;
    min-height: 20px;
    padding: 15px;
    width: 100%;  
    bottom: 0;
  }

@media screen and (max-width: 760px){
    .container > div {
        grid-column: 1 / -1;
    }
}

