* { /*Selector universal*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

 #indexpage {
  background-image: url('./img/fondo-letras-gd.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #049DBF;
  height: 100vh;
  padding:0px;
}
.contenedor {
  background-image: url('./img/fondo-pokemon.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #049DBF;
  height: 100vh;
  padding:0px;
  width: 100%;
  height: auto;
  margin: 0px;
  font-size: 20px;
  line-height: 25px;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

/*
#26A3BF
#7ABF9F
#F2CB05
#F27507
#F23535
*/

.contenedor > div{/*modifica los div dentro del contenedor*/
  padding: 30px;
  color: black;
  background: #26A3BF;
  box-shadow: 2px 2px 10px rgba(0,0,0,.40);
}

header {
    background-image: url('img/header100px-a.jpg');
    background-color:none;
    width: 110%;
    height: 100px;
    padding: 0px;
    margin: 0px;
    position: fixed;
    top: 0;
    position: fixed;
}

#buttonGo {
    background-image: url("img/img-botongo.png");
    position: fixed;
    margin-left:44%;
    margin-right: auto;
    bottom: 70px;
    background-color:transparent;
    border: transparent;
    width: 135px;
    height: 83px;
}
 
footer {
  min-height: 20px;
  text-align: center;
  font-size: 15px; 
  font-family: 'Russo One', sans-serif;
  background-color:none;
  width: 100%;
  position: fixed;
  bottom: 0;
} 

.contenedor {
  width: 100%;
  position: fixed;
  background-image: url('./img/fondo-pokemon.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  padding:0px;
  top: 100px;
}

.content {
  text-align: center;
  font-size: 20px; 
  font-family: 'Russo One', sans-serif;
  background-color:none;
  position: fixed;
  top: 36%;
  margin-left:32%;
  margin-right: auto;
}
